name: CMake on a single platform

on:
  push:
    branches: [ "assignment6" ]
  pull_request:
    branches: [ "assignment6" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.2'
        host: windows
        target: desktop
        arch: win64_msvc2022_64

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: build
      run: |
        set QT_QPA_PLATFORM_PLUGIN_PATH=%QT_ROOT_DIR%/plugins/platforms
        ctest -C ${{env.BUILD_TYPE}} --output-on-failure
